.App {
  text-align: center;
}
body{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: .2em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body,html{
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  min-height: 100vh;
  width: 100%;
  /* max-width: ; */
}

.App-header {
  background-color: #191a1b;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}
.first{
  min-height: 100vh;
  padding: 100px 0px;
  padding-bottom: 150px;
}
h1{
  font-size: 4rem;
}

.App-link {
  color: #61dafb;
}
p{
  font-size: 7rem;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 50px;
  /* word-break:; */
  width: 100%;
  white-space: nowrap;
  color: #38368d;
  /* line-break: ; */
}
.second{
  padding-top: 200px;
}
/* .transClass{
  transform: rotate(45deg);
} */

.abContent{
  background-color: rgb(255, 174, 0);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


